<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ffmpegtest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" >
    </supports-screens>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:label="@string/app_name" >
        <activity 
            android:name="com.ffmpegtest.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape"
            android:hardwareAccelerated="false" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ffmpegtest.VideoActivity"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="video/*" />
                <data android:mimeType="application/x-quicktimeplayer*" />
                <data android:mimeType="application/x-mpeg" />
                <data android:mimeType="application/vnd.dvd*" />
                <data android:mimeType="application/vnd.3gp*" />
                <data android:mimeType="application/3gpp*" />
                <data android:mimeType="application/vnd.rn-realmedia*" />
                <data android:mimeType="application/mp4*" />
                <data android:mimeType="application/mpeg*" />
                <data android:mimeType="application/sdp" />
                <data android:mimeType="application/vnd.wap.mms-message" />
                <data android:pathPattern=".*mkv" />
                <data android:pathPattern=".*MKV" />
                <data android:pathPattern=".*flv" />
                <data android:pathPattern=".*FLV" />
                <data android:pathPattern=".*wmv" />
                <data android:pathPattern=".*WMV" />
                <data android:pathPattern=".*ts" />
                <data android:pathPattern=".*TS" />
                <data android:pathPattern=".*rm" />
                <data android:pathPattern=".*RM" />
                <data android:pathPattern=".*rmvb" />
                <data android:pathPattern=".*RMVB" />
                <data android:pathPattern=".*webm" />
                <data android:pathPattern=".*WEBM" />
                <data android:pathPattern=".*mov" />
                <data android:pathPattern=".*MOV" />
                <data android:pathPattern=".*mpg" />
                <data android:pathPattern=".*MPG" />
                <data android:pathPattern=".*dat" />
                <data android:pathPattern=".*DAT" />
                <data android:pathPattern=".*vstream" />
                <data android:pathPattern=".*VSTREAM" />
                <data android:pathPattern=".*mpeg" />
                <data android:pathPattern=".*MPEG" />
                <data android:pathPattern=".*f4v" />
                <data android:pathPattern=".*F4V" />
                <data android:pathPattern=".*avi" />
                <data android:pathPattern=".*AVI" />
                <data android:pathPattern=".*ogv" />
                <data android:pathPattern=".*OGV" />
                <data android:pathPattern=".*dv" />
                <data android:pathPattern=".*DV" />
                <data android:pathPattern=".*divx" />
                <data android:pathPattern=".*DIVX" />
                <data android:pathPattern=".*vob" />
                <data android:pathPattern=".*VOB" />
                <data android:pathPattern=".*asf" />
                <data android:pathPattern=".*ASF" />
                <data android:pathPattern=".*3gp" />
                <data android:pathPattern=".*3GP" />
                <data android:pathPattern=".*3gpp" />
                <data android:pathPattern=".*3GPP" />
                <data android:pathPattern=".*h264" />
                <data android:pathPattern=".*H264" />
                <data android:pathPattern=".*h261" />
                <data android:pathPattern=".*H261" />
                <data android:pathPattern=".*h263" />
                <data android:pathPattern=".*H263" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ffmpegtest.VIDEO_PLAY_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="video/*" />
                <data android:mimeType="*/rmvb" />
                <data android:mimeType="*/avi" />
                <data android:mimeType="*/rmvb" />
                <data android:mimeType="*/mkv" />
                <data android:mimeType="applicatin/mpeg*" />
                <data android:mimeType="applicatin/mp4*" />
                <data android:mimeType="audio/ogg" />
                <data android:mimeType="applicatin/ogg" />
                <data android:mimeType="applicatin/3gpp" />
                <data android:mimeType="applicatin/vnd.3gp*" />
                <data android:mimeType="applicatin/x-mpegURL" />
                <data android:mimeType="applicatin/vnd.apple.mpegurl" />
                <data android:mimeType="applicatin/x-quicktimeplayer" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*3gp" />
                <data android:pathPattern=".*avi" />
                <data android:pathPattern=".*asf" />
                <data android:pathPattern=".*divx" />
                <data android:pathPattern=".*f4v" />
                <data android:pathPattern=".*flv" />
                <data android:pathPattern=".*m3u" />
                <data android:pathPattern=".*m3u8" />
                <data android:pathPattern=".*m4v" />
                <data android:pathPattern=".*mkv" />
                <data android:pathPattern=".*mp4" />
                <data android:pathPattern=".*mpeg" />
                <data android:pathPattern=".*mov" />
                <data android:pathPattern=".*ogg" />
                <data android:pathPattern=".*ogm" />
                <data android:pathPattern=".*rmvb" />
                <data android:pathPattern=".*ts" />
                <data android:pathPattern=".*vob" />
                <data android:pathPattern=".*VOB" />
                <data android:pathPattern=".*webm" />
                <data android:pathPattern=".*wmv" />
                <data android:pathPattern=".*3gp" />
                <data android:pathPattern=".*3gp" />
            </intent-filter>
        </activity>
         <activity 
            android:name="com.ffmpegtest.FindActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"
            android:hardwareAccelerated="false" ></activity>
    </application>

</manifest>